$headings: 'Oswald', sans-serif;
$sans-serif: 'Source Code Pro', monospace;
$text-color: black;
$text-color-hover: #1995ad;
$body-color: transparent;

html, body {
  font-family: $sans-serif;
  color: $text-color;
  height: 100%;
  margin: 0;
  padding: 0;
}

a {
  color: $text-color;

  &:hover, &:focus, &:active, &:visited {
    text-decoration: underline;
  }
}

.page-body {
  display: grid;
  grid-template-columns: 300px auto;
}

.about {
  background-color: $body-color;
  padding: 40px;

  > * {
    max-width: 800px;
    margin: auto;
  }

  [class*="fa-"] {
    color: $text-color;
  }

  &__logo {
    background: url(quilljoy-logo.svg) no-repeat center;
    height: 100%;
    width: 300px;
    position: relative;
    display: block;
    background-size: contain;
    margin: auto;
  }
}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.name {
  font-family: $headings;
  font-size: 6em;
  font-weight: 400;
  line-height: 1;
  color: white;
  background-color: black;
  writing-mode: vertical-rl;
  padding: 40px;

  &__first {
    line-height: .5;
    margin-bottom: 35px;
  }
}

@supports(background-clip: text) or (-webkit-background-clip: text) {
  .name {
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.header {
  font-family: $headings;
  font-size: 2em;
  color: $text-color;
}

.reset-header {
  font-weight: 400;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
